*,html,body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

.home-image{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,1)),url("images/firstImage.jpg");
    background-size: cover;
    background-position: center;
}
.left-side-border{
    border-left: 10px solid red;

}
.subscribe-image{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,1)), url("images/bg-signup.jpg");
    background-size: cover;
    background-position: center;
}
.effect{
    opacity: 0;
    transition: opacity 0.5s ;
    z-index: 10;
    padding: 20% 15% 0% 15%;
    background-color:rgba(0,0,0,0.8);
    position:absolute; 
    top: 0%;
    height: 100%;
    /* margin: 10% 0%; */
}
.hover-text-align{
    text-align: right;
}
.effect:hover{
    opacity: 1;
    /* transition: all 1s linear; */
}
.footer-div{
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid white;
}
.footer-icon{
    text-decoration: none;
    color: white;
}
.footer-icon:hover{
    text-decoration: none;
}
.footer-div:hover{
    background-color: white;
    color: #2C3E50;
}
.grayscale-text{
    letter-spacing: 15px;
    font-size: 7.12rem;
    background-image: linear-gradient(#ffffff,#5f5f5f);
    -webkit-background-clip: text;
    color: transparent;


}
.padding-cls{
    padding: 0%;
}

.input-style{
    width: 100%;
    letter-spacing: 2px; 
    border: 0;
    border-bottom: 3px solid lightgray;
    outline: none;
}
.validation:invalid{
    border-bottom-color: red;
}
.validation:valid{
    border-bottom-color: green;
}
.nav-style a{
    /* background-color: none; */
    color: white;
}
.nav-scroll{
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}
.nav-scroll a{
    color: black;
}
.nav-scroll a:hover{
    color: grey;
}




@media only screen and (max-width:786px){


    
.padding-cls{
    padding: 4% 0%;
} 
.effect{
    text-align: center;
}
.horizontal-line{
    display: none;
}


}

